@{
    ViewData["Title"] = "Servicios";
}
<link href="~/css/servicios/servicios.css" rel="stylesheet" />
<h1>Servicios</h1>

<button class="btn btn-primary m-3" onclick="GuardarServicio()">Agregar Servicios</button>

<table id="servicios" class="table table-striped" style="width:100%">

</table>

<div id="serviciosAddPartial">

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://kit.fontawesome.com/f8fcaa487b.js" crossorigin="anonymous"></script>
<script src="~/lib/moment/dist/moment.js"></script>
<script src="~/js/servicios/servicios.js"></script>