@model Web.ViewModels.RolesViewModel

<div class="modal fade" id="rolesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Alta y/o modificación de Roles.</h5>
            </div>
            <div class="modal-body">
                @{
                    var ActionName = "";
                    if (Model.Id == 0)
                        ActionName = "GuardarRol";
                    else
                        ActionName = "EditarRol";
                }
                @using (Html.BeginForm(ActionName, "Roles", FormMethod.Post))
                {
                    @Html.HiddenFor(x=> x.Id)

                            <div class="row">
                                <div class="col-md-6 mt-1 mb-3">
                                    <label class="col-md-6 form-control-label">Nombre</label>
                            @Html.EditorFor(x=> x.Nombre, new { htmlAttributes = new {@class = "col-md-9 form-control", @Name = "Model.Nombre"} })
                            @Html.ValidationMessageFor(x=> x.Nombre, "", new {@class="text-danger"})
                                </div>

                                     <div class="col-md-6 mt-1 mb-3">
                                        <label class="col-md-6 form-control-label">Activo</label>
                            @Html.CheckBoxFor(x=> x.Activo, new { htmlAttributes = new {@class = "col-md-9 form-control"}} )
                                    </div>
                             </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-success" id="btnGuardar">Guardar</button>
                                </div>
                }
                        </div>


            </div>
            </div>
        </div>
